.tools {
  position: absolute;
  top: 5rem;
  left: 22.5px;
  border-radius: 24px;
  border: 1px;
  border: 1px solid;

  border-image-source: linear-gradient(
    175.27deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.614513) 38.55%,
    rgba(255, 255, 255, 0.400968) 59.9%,
    rgba(255, 255, 255, 0.104088) 89.59%,
    rgba(255, 255, 255, 0) 100%
  );

  background: linear-gradient(
    175.18deg,
    rgba(37, 37, 37, 0.6) 0%,
    rgba(93, 93, 93, 0.528021) 35.37%,
    rgba(3, 115, 127, 0.488971) 57.39%,
    rgba(18, 18, 18, 0.447811) 98.28%,
    rgba(66, 66, 66, 0.4) 98.29%
  );
}
.btn-icon {
  width: 68px;
  height: 68px;
  display: flex;
  background-color: white;
  border-radius: 50%;
}
.btn-icon:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.438);
}
