:root {
  --bs-primary: linear-gradient(180deg, #42505e -25%, #1c252e 100%);
  --bs-secoundary: #3d99f4;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: 'Inter', sans-serif;
  --bs-font-roboto-condensed:"roboto-condensed"
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
.Map {
  height: calc(100vh - 62px);
}
.cesium-viewer-bottom {
  display: none !important;
}
.cesium-viewer-animationContainer {
  visibility: hidden !important;
}
.cesium-viewer-timelineContainer {
  visibility: hidden !important;
}
.compass {
  bottom: 0px !important;
  top: unset !important;
}
.navigation-controls {
  bottom: 100px !important;
  top: unset !important;
  background-color: #444442;
}

html, body,#root{
  user-select: none;
  width: 100%;
  height: 100%;
  overflow:hidden;
  font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;


}

.cesium-performanceDisplay-defaultContainer{
  display: none !important;
}